.tuner_item {
    display: flex;
    justify-content: space-between;
}

.input {
    padding: 5px 10px;
    border: 2px solid #7ce5ff;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.error {
    border: 2px solid red;
    border-radius: 7px;
}