body {
    background-color: black;
}

.App {
    margin: 100px auto;
    width: 625px;
    display: flex;
}

.count_block,
.counter,
.button_block,
.tuner_block,
.tuner,
button {
    border-radius: 7px;
}

button,
.button_block,
.count_block {
    border: 2px solid #7ce5ff;
}

.count_block {
    padding: 15px;
    width: 200px;
    background-color: transparent;
}

.counter {
    margin-bottom: 15px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7ce5ff;
    text-align: center;
}

.counter div {
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.button_block {
    height: 50px;
    display: flex;
    justify-content: space-around;
}

button {
    margin: 10px;
    width: 90px;
    background-color: #7ce5ff;
    font-size: 20px;
    font-weight: bold;
}

.red_number p {
    color: red;
    font-size: 40px;
}

.tuner_block {
    margin-right: 25px;
    padding: 15px;
    width: 400px;
    border: 2px solid #7ce5ff;
}

.tuner {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
    border: 2px solid #7ce5ff;
    height: 76px;
    color: #7ce5ff;
    font-weight: bold;
    font-size: 20px;
}

.tuner_item {
    display: flex;
    justify-content: space-between;
}

.tuner_item input {
    border: 2px solid #7ce5ff;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-weight: bold;
}

