body {
    background-color: black;
}

.App,
.counter,
.button_block,
button {
    border-radius: 7px;
}

button,
.button_block,
.App {
    border: 2px solid #7ce5ff;
}

.App {
    margin: 100px auto;
    padding: 15px;
    width: 200px;
    background-color: transparent;
}

.counter {
    margin-bottom: 15px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7ce5ff;
    text-align: center;
}

.counter div {
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.button_block {
    height: 50px;
    display: flex;
    justify-content: space-around;
}

button {
    margin: 10px;
    width: 90px;
    background-color: #7ce5ff;
    font-size: 20px;
    font-weight: bold;
}

.red_number p{
    color: red;
    font-size: 40px;
}

